.info_table {
  border-collapse: collapse;
}

.info_table td, .info_table th {
  padding: 8px;
  color: white;
  min-width: 30vw;
  max-width: 30vw;
  border: 1px solid #ddd;
}

.info_table th {
  color: white;
  text-align: left;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #04AA6D;
}

.info_table tr {
  width: 200px;
}

.info_table tbody {
  width: 100%;
  display: block;
  overflow-y: scroll;
  height: calc( 100vh - 200px );
}